
# Credit to https://github.com/dockersamples/docker-swarm-visualizer for the
# Docker image and instructions.
- name: Start dockersamples/visualizer to show Docker swarm UI.
  shell: >
    docker service create \
    --name=dockvis --publish={{ dock_vis_port }}:8080/tcp \
    --constraint=node.role==manager \
    --mount=type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock \
    dockersamples/visualizer